html {
  font-family: sans-serif;
  font-size: $font-size;
}

body {
  background-color: $bg-primary;
  background: radial-gradient($bg-primary, $bg-dark);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 960px;
  margin: 1rem auto;
}

.hand {
  max-width: 480px;
  margin: 0 auto;
}

.cards {
  display: flex;
  height: $card-height + 18px;
  justify-content: center;
  align-items: center;
}

.score {
  color: #FFE900;
  margin: 1rem 2rem;
  padding: 0.5rem 1rem;
  border: 2px solid #FFE900;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}

.hand-controls {
  text-align: center;
}

.table {
  height: $card-height;
}

button {
  background-color: $bg-action;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 0.5rem;
  @include shadow();
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 200ms;
  outline: none;

  &:hover {
    transform: scale(1.15);
  }

  &:disabled {
    background-color: #555;
    transform: none;
    cursor: default;
  }
}